body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

form .table > tbody > tr > td {
    border: none;
    padding: 2px;
}

form .table > tbody > tr > td select{
    float: left;
    width: 55%;
}

form .table {
    width: 50%;
}

#advertForm button {
    float: right;
}

#addAdvert {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.advertImage {
    display: inline-block;
    width: 200px;
    height: 130px;
}

#addAdvertButton {
    margin-right: 100px;
}

.btn {
    border: 2px solid transparent !important;
}

.btn-primary {
    color: #077508 !important;
    background-color: #ffffff !important;
    border-color: #0d8c0e !important;
}

.btn-primary:hover {
    color: #ffffff !important;
    background-color: #077508 !important;
    text-shadow: 0 0px 10px rgba(203, 226, 11, 0.99);
    box-shadow: 0 0px 10px rgba(29, 240, 29, 0.75);
}

.btn-primary:active {
    color: #ffffff;
    background-color: #28905b;
    border-color: #44e26e;
    text-shadow: 0px 5px 10px #0003ff;
}

.btn-default {
    color: #27C228  !important;
    background-color: #ffffff !important;
    border-color: #0d8c0e !important;
}

.btn-default:hover {
    color: #ffffff !important;
    background-color: #35B636  !important;
    text-shadow: 0 0px 10px rgba(203, 226, 11, 0.99);
    box-shadow: 0 0px 10px rgba(29, 240, 29, 0.75);
}

.btn-default:active {
    color: #ffffff;
    background-color: #28905b;
    border-color: #44e26e;
    text-shadow: 0px 5px 10px #0003ff;
}

.loginForm {
    margin: 0px auto;
    width: 40%;
}

.progress {
    width: 100%;
    margin: 15px auto;
}

.file {
    margin-top: 10px;
}

.form-control {
    margin: 3px auto;
}

#wrapper {
    width: 70%;
    margin: 0 auto;
    min-height: 800px;
}

#header {
    padding: 10px 10px 0px;
}

#logo {
    width: 200px;
}

.logo {
    position: absolute;
    z-index: 10;
}

#header_right {
    display: inline-block;
    right: 0px;
    text-align: right;
    width: 100%;
}

.profile {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 50px;
}

.open .dropdown-menu {
    font-size: 18px;
}

.open .dropdown-menu {
    right: 0px;
    left: auto;
}

.dropdown-menu li:hover {
    border: 1px solid #40fd40;
    background: #dcf5e4;
}

.dropdown-toggle p {
    margin: 0px;
    display: inline;
}

.advertItem {
    margin: 30px 10px;
    position: relative;
    min-height: 100px;
    border: 1px solid #72e155;
}

.advertItem img {
    width: 100%;
    height: 100%;
}

.advertInfo {
    position: absolute;
    display: inline-block;
    height: 100%;
    padding: 0px 10px;
}

.advertInfo h2 {
    padding: 0px;
    margin: 0px;
}

.advertInfo p {
    bottom: 0px;
    position: absolute;
    margin: 0px;
    width: 250px;
}

.advertPrice {
    display: inline-block;
    float: right;
    width: 150px;
    font-size: 22pt;
}

footer {
    bottom: 0px;
    width: 100%;
    left: 0px;
    position: fixed;
    background: #d9f4d1;
}

footer p {
    text-align: center;
    margin: 3px 0;
}


#searchLine {
    margin: 50px auto 0px;
    width: 90%;
}

#searchLine input {
    width: 100%;
    padding: 6px;
}

#chooseSort {
    text-align: right;
    margin-top: 10px;
}

#chooseSort button {
    font-size: 12px;
    background: #d1ffcd;
}


